<?xml version="1.0"  encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1" thread-count="2"  parallel="tests">
    <test name="Test for chrome browser" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.LoginCrossBrTest" />
        </classes>
    </test>

    <test name="Test for firefox browser" >
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="test.LoginCrossBrTest" />
        </classes>
    </test>
</suite>